stages:
  - verify
  - publish
  - pages
  - triggers

include:
  - project: "zurabm/ci-templates"
    ref: v1.4.4
    file:
      - "/python/verify.yml"
      - "/python/publish.yml"

variables:
  RUN_INTEGRATION_TESTS: "true"
  RUN_BENCHMARKS: "true"
  COLLECT_COVERAGE: "true"
  PYPI_PROJECT_NAME: "trajax"
  COVERAGE_SOURCE: "trajax"

benchmark:
  extends: .benchmark-base
  rules:
    - if: "$CI_COMMIT_TAG"
      when: never
    - if: '$RUN_BENCHMARKS == "true"'
  script:
    - curl --proto '=https' --tlsv1.2 -sSfL https://bencher.dev/download/install-cli.sh | bash
    - source $HOME/.cargo/env
    - bencher --version
    - echo "BENCHER_API_TOKEN is set? ${BENCHER_API_TOKEN:+yes}"
    - uv run pytest -m 'benchmark and not risk_benchmark' --benchmark-json=benchmark.json
    - >-
      bencher run
      --project trajax
      --token "$BENCHER_API_TOKEN"
      --branch "$CI_COMMIT_REF_NAME"
      --testbed gitlab-ci
      --adapter python_pytest
      --file benchmark.json

coverage:
  extends:
    - .coverage-report-base
  script:
    - |
      COVERAGE_FILES=""
      [ -f coverage-unit.xml ] && COVERAGE_FILES="$COVERAGE_FILES --file coverage-unit.xml"
      [ -f coverage-integration.xml ] && COVERAGE_FILES="$COVERAGE_FILES --file coverage-integration.xml"
      
      if [ -z "$COVERAGE_FILES" ]; then
        echo "ERROR - No coverage files found" && exit 1
      fi
      
      curl -Os https://cli.codecov.io/latest/linux/codecov
      chmod +x codecov
      ./codecov upload-process $COVERAGE_FILES --token $CODECOV_TOKEN

pages:
  stage: pages
  extends:
    - .base
  script:
    - uv run pytest -v -m docs --visualize
    - uv run mkdocs build --strict --site-dir public
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  needs:
    - job: test-integration
      optional: true
      
visualizer:
  stage: triggers
  trigger:
    include: visualizer/.gitlab-ci.yml
  inherit:
    variables: false
  rules:
    - changes:
        - "visualizer/**/*"
      when: always
  variables:
    PYPI_API_TOKEN: $PYPI_API_TOKEN_VISUALIZER
