stages:
  - verify
  - publish
  - triggers

include:
  - project: 'zurabm/ci-templates'
    ref: v1.4.1
    file:
      - '/python/verify.yml'
      - '/python/publish.yml'

variables:
  RUN_INTEGRATION_TESTS: "true"
  RUN_BENCHMARKS: "true"
  PYPI_PROJECT_NAME: "trajax"

benchmark:
  extends: .benchmark-base
  rules:
    - if: '$CI_COMMIT_TAG'
      when: never
    - if: '$RUN_BENCHMARKS == "true"'
  script:
    - curl --proto '=https' --tlsv1.2 -sSfL https://bencher.dev/download/install-cli.sh | bash
    - source $HOME/.cargo/env
    - bencher --version
    - echo "BENCHER_API_TOKEN is set? ${BENCHER_API_TOKEN:+yes}"
    - uv run pytest -m benchmark --benchmark-json=benchmark.json
    - >-
      bencher run
      --project trajax
      --token "$BENCHER_API_TOKEN"
      --branch "$CI_COMMIT_REF_NAME"
      --testbed gitlab-ci
      --adapter python_pytest
      --file benchmark.json

visualizer:
  stage: triggers
  trigger:
    include: visualizer/.gitlab-ci.yml
  inherit:
    variables: false
  rules:
    - changes: 
        - "visualizer/**/*"
      when: always
  variables:
    PYPI_API_TOKEN: $PYPI_API_TOKEN_VISUALIZER 
    