stages:
  - verify
  - publish

variables:
  PIPELINE_ROOT: "visualizer"
  PYPI_PROJECT_NAME: "faran-visualizer"
  PYPI_PRE_PUBLISH_COMMANDS: |
    apt-get update -qq && apt-get install -qq -y nodejs npm
    npm install -g pnpm
    cd core && pnpm install --frozen-lockfile && pnpm build && cd ..
    git update-index --assume-unchanged faran_visualizer/assets/cli.js

include:
  - project: "zurabm/ci-templates"
    ref: v1.4.2
    file:
      - "/python/verify.yml"
      - "/python/publish.yml"
